body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-width: 450px;
    padding: 10px;
}

h1 {
    font-size: 1.75em;
}

td {
    width: 50%;
}

input {
	margin-bottom: 5px;
}

.display {
    width: 100%;
    min-height: 400px;
    padding-bottom: 20px;
}

.control {
    width: 100%;
    padding-bottom: 20px;
}

.control-button {
    width: 100%;
    min-height: 50px;
}

.display-box {
    border: 2px solid black;
}

.title {
    vertical-align: bottom;
}

.textmessage {
    padding-right: 0px;
}

.btnconnect {
    height: 40px;
}

.status {
    height: 140px;
    vertical-align: text-bottom;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    
}

.message {
    height: 140px;
    max-height: 140px;
    line-height: 1.2;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    word-break: normal;
    overflow: auto;
}

.msg-time {
    color: blue;
}